%section.ten-oh-announcement
  .ten-oh-label
    %span 12.5
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.5 introduces EKS Cluster Creation, Crossplane support, Environments Dashboard, and much more!

      .btn-group
        %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/blog/2019/11/22/gitlab-12-5-released/"}
          See what’s new
